.game-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.crossword-section {
  padding: 10px 10%;
  flex: 1 1 300px;
  overflow: hidden;
}

.controls-section {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
